:root {
    --white:#FFFFFF;
    --logocolor:#2e2f42;
    --linkcolor:#404bbf;
    --addlinkcolor:#434455;
    --buttoncolor:#4D5AE5;
    --sectioncolor:#F4F4FD;
    --bordercolor:#e7e9fc;
    --custumercolor:#8e8f99;
    --Iconcolor:#31d0aa;
    --dairy:#fcfcfc;
    --cornflower: #e7e9fc;

}
* {
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
}
body {
    font-family: 'Roboto',sans-serif;
    color: #434455;
    background-color: var(--white);
}
.logo {
    font-family: "Raleway",
        sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-right:76px ;


}
.link {
    text-decoration: none;



}
.logo-studio {
color: var(--logocolor);
}
.list {
    list-style: none;
}
.second_header_list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--logocolor);
    margin-bottom: 8px;

}
.second_paragraph{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--addlinkcolor);

}
.nav_link {
    text-decoration: none;
    font-weight:500;
    line-height:1.5;
    letter-spacing:0.02em;
    color: var(--logocolor);
    font: size 16px;
    padding: 24px 0;

  
}
.nav_link:hover,
.nav_link:focus{
color: var(--linkcolor);
}
.info {
    font-style: normal;
}
.addlink {
    font-size:16px;
    line-height:1.5;
    letter-spacing:0.02em;
    color: var(--addlinkcolor);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.addlink:hover,
.addlink:focus{
    color: var(--linkcolor);
}
.hero {
    background-color: var(--logocolor);
    padding:188px 0 ;
    background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people.jpg);
    max-width:1440px ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}
.hero_header {
    font-size: 56px;
    line-height:1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white);
    max-width: 496px;




}
.header_button {
    background-color:var(--buttoncolor);
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);



}
.header_button:hover,.header_button:focus{
    background-color: var(--linkcolor);
    cursor: pointer;
}
.third_header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--logocolor);
    margin-bottom:72px ;
}
.fourth_section {
    background-color: var(--sectioncolor);
    padding:120px 0 ;


}
.fourth_header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--logocolor);
    margin-bottom:72px ;


}
.fourth_list_item {
    background-color: var(--white);
    width:calc((100% - 72px) / 4) ;
    border-radius:0px 0px 4px 4px ;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);



}
.fourth_list {
    display: flex;
    gap: 24px;


}
.fourth_list_header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--logocolor);
    text-align: center;
    margin-bottom: 8px;



}
.fourth_list_paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--addlinkcolor);
    text-align: center;

}
.footer {
    background-color: var(--logocolor);
    padding:100px 0 ;

}
.footer  span {
    color: var(--sectioncolor);

}
.footer_paragraph {
    line-height: 1.5;
    color: var(--sectioncolor);
    letter-spacing: 0.02em;
    max-width:264px ;
}
.portfolio_button{
    font-family: "Roboto",
        sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--buttoncolor);
    background-color: var(--sectioncolor);
    cursor: pointer;
    padding:12px 24px ;
    border:1px solid var(--bordercolor) ;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);


}
.portfolio_button:hover,
.portfolio_button:focus{
    color: var(--white);
    background-color: var(--linkcolor);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
 

}
.portfolioheader {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--logocolor);
    margin-bottom: 8px;
}
.portfolioparagraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--addlinkcolor);
    
}
img {
    display: block;
}
.header {
    border-bottom:1px solid var(--bordercolor);
   box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
    height:70px ;
    display: flex;
    justify-content: center;
    align-content: center;

}
.container {
    display: flex;
    width: 1158px ;
    padding: 0 15px;

}
.navigation {
    display: flex;
    align-items: center;

}
.menu {
    display: flex;
    gap: 40px;

}
 .menu-mobile{
     display: flex;
     gap: 40px;

 }
.contactlist {
    display: flex;
    gap: 40px ;
}
.second_section {
    padding: 120px 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.second_list {
    display: flex;
    gap: 24px;

}
.second_list_item {
    width: calc((100% - 72px) / 4);

}
.third_section {
    padding: 120px ;

}
.third_list {
    display: flex;
    gap:24px ;

}
.third_list_item {
    width: calc((100% - 48px) / 3);

}
.employee {
    padding: 32px 0;

}
.footer .container{
    display: block;
}

.footer .link{
    display: inline-block;
    margin-bottom: 16px;
    
}

.section_portfolio {
    padding-top: 96px;
    padding-bottom: 120px;

}
.portfolio_button_list{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;


}
.portfolio_image {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}
.portfolio_list_image {
    width:calc((100% - 48px) / 3) ;

}
.portfolio_image_div {
    padding:32px 16px ;
    border:1px solid var(--bordercolor) ;
    border-top: none;

}
.first_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--sectioncolor);
    border-radius: 4px;
    margin-bottom: 8px;

}
.list_socialmedia {
    display: flex;
    justify-content: center;
    gap: 24px;
    list-style: none;

}
.list_socialmedia_item {
    width: 40px;
    height: 40px;
    margin: 0;
}
.socialmedia_link {
    width: 100%;
    height: 100%;
    background-color: var(--buttoncolor);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.socialmedia_link:hover, 
.socialmedia_link:focus{
background-color: var(--linkcolor);

}
.socialmedia_link:focus{
    background-color: var(--linkcolor);
}
.socmed_svg {
    fill: var(--sectioncolor);
}
.fifth_section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.fifth_header {
    font-size: 36px;
    line-height: 1.11;
    color: var(--logocolor);
    text-align: center;
    margin-bottom: 72px;
}
.fifth_list {
    display: flex;
    gap: 24px;

}
.fifth_list_item {
    width:calc((100% - 120px) / 6) ;
    height:88px;

}
.customer_link {
    width: 100%;
    height: 100%;
    border: 1px solid var(--custumercolor);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--custumercolor);
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.customer_link:focus,
.customer_link:hover {
    border-color: #404bbf;
    color: #404bbf;

}

.customer_svg {
    fill: currentColor;
}
.fifth_section .container{
    flex-direction: column;
}
.fourth_section .container{
    flex-direction: column;
}
.third_section .container{
    flex-direction: column;
}
.hero .container{
    display: block;
    text-align: center;
}
.fifth_section h2{
    margin-bottom: 72px;
}
.footer .container {
    display: flex;
    align-items: baseline;
   


}
.footer_div{
    margin: 0;
    margin-right: 120px;
}
.footer_socialmedia{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing:0.02em ;
    color: var(--white);
    margin-bottom: 16px;

}
.socialmedia_footer {
    display: flex;
    gap: 16px;

}
.socialmedia_footer_list{
   height: 40px;
   width: 40px;
}
.socialmedia_icon {
    width: 100%;
    height: 100%;
    background-color: var(--buttoncolor);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.socialmedia_icon:hover,
.socialmedia_icon:focus{
   background-color: var(--Iconcolor);
}


.footer_icon{
    fill: var(--sectioncolor);

}
.portfolio_list_image a{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
}
.portfolio_list_image a:hover,
.portfolio_list_image a:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
      
}
.portfolio_list_image a:hover p,
.portfolio_list_image a:focus p {
    transform: translateY(0%)
}
.section_portfolio .container{
    flex-direction: column;
}
.backdrop {
    width: 100vw;
    height: 100vh;
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 24px;
    top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--cornflower);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
    background-color: var(--linkcolor);
    border: none;
}

.close-button:hover .close-icons,
.close-button:focus .close-icons {
    fill: var(--white);
}

.close-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--logocolor);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-par {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--logocolor);
    margin-bottom: 16px;
}

.form-content {
    margin-bottom: 8px;
}

.form-content-comment {
    margin-bottom: 16px;
}

.form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--custumercolor);
    display: block;
    margin-bottom: 4px;
}

.form-input-group {
    position: relative;
}

.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
    border-color: var(--buttoncolor);
}

.form-svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus+.form-svg {
    fill: var(--buttoncolor);
}
.form-textarea:focus {
    border-color: var(--buttoncolor);
}
.user-privacy-input:checked+.label-privacy .user-privacy-span {
    background-color: var(--linkcolor);
    border: none;
    fill: var(--sectioncolor);
}
.user-privacy-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.modal-link {
    color: var(--buttoncolor);
}

.modal-check {
    margin-bottom: 24px;
}

.modal {
    width: 408px;
    height: 584px;
    background-color: var(--dairy);
    border-radius: 4px;
    padding: 24px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    min-height: 584px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}
.label-privacy {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    align-items: center;
    justify-content: center;
    color: var(--custumercolor);
}
.modal-button {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    margin: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    cursor: pointer;
    background-color: var(--buttoncolor);
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.active-menu{
    position: relative;
    color: var(--linkcolor);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.active-menu::after{
    content: "";
        height: 4px;
        width: 100%;
        border-radius: 2px;
        background-color: var(--linkcolor);
        position: absolute;
        bottom: -1px;
        left: 0;
}
.image-container {
    position: relative;
    overflow: hidden;
}
.image-p {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--sectioncolor);
    padding: 40px 32px;
    background-color: var(--buttoncolor);
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe {
    margin-left: 80px;
}

.subscribe p {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
}

.subscribe-form {
    display: flex;
    gap: 24px;
}

.sub-form-input {
    width: 264px;
    height: 40px;
    border: 1px solid var(--white);
    background: transparent;
    font-size: 12px;
    line-height: 1.5;
    padding-left: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--white);
    letter-spacing: 0.04em;
}

.sub-form-input::placeholder {
    color: var(--white);
}

.sub-form-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    cursor: pointer;
    background-color: var(--buttoncolor);
    border: none;
    border-radius: 4px;
}

.sub-btn-svg {
    margin-left: 16px;
    margin-right: 0;
}
@media screen and (min-width:428px) {
    .menu {
        display: none;
    }
    .info {
        display: none;
    }
    .hero_header {
        font-size: 36px;
        margin-bottom: 72px;

    }
    .hero .container {
        padding-left: 54px;
        padding-right: 54px;
    }
    .first_icon {
        display: none;
    }
    .second_list {
        flex-direction: column;
        row-gap: 72px;
        
    }
    .second_list_item {
        width: 100%;
    }
    .second_header_list {
        text-align: center;
        font-size: 36px;
    }
    .third_section {
        display: none;
    }
    .fourth_list {
        flex-direction: column;
        row-gap: 72px;
    }
    .fourth_list_item {
        width: 100%;
    }
    .fourth_list_paragraph {
        margin-bottom: 8px;
    }
    .fifth_list {
       flex-wrap: wrap;
        gap: 16px;
        row-gap: 72px;
    }
    .fifth_list_item {
        width: calc((100% - 16px) / 2);
    }
   .footer .container{
    flex-direction: column;
    row-gap: 72px;
   }
   .footer_div {
    margin-right: 0;
    margin: auto;
    text-align: center;
   }
   .footer_link{
    margin: 0;
   }
   .footer_socialmedia {
    text-align: center;
   }

   .subscribe-form {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
   }
   .subscribe p{
    text-align: center;
    
   }
   .sub-form-label{
    width: 100%;

   }
   .subscribe {
    margin-left: 0;
   }
   .sub-form-input {
    width: 100%;
   }
   .sub-form-btn {
    width: 117px;
    margin: auto;
   }
   .menu-mobile {
    flex-direction: column;
    justify-content: start;
    text-align: start;
   }
   .navigation-mobile {
    margin-left: 0;
   }
   .menu-mobile .nav_link{
    font-size: 36px;
    text-align: start;
   }
   .menu-mobile li{
    margin-left: 0;
   }
   .info-mobile .contactlist{
    flex-direction: column;
   }
   .info-mobile {
    margin-left: 0;
   }
  .number {
    font-size: 36px;
    color: var(--buttoncolor);
    font-style: normal;
  }
  .info-mobile .contactlist li {
    margin-left: 0;
  }
  .email {
    font-size: 20px;
    font-style: normal;
  }
  .menu-container .socialmedia_footer {
    gap: 56px;
  }
  .navigation {
    margin-left: 0;
  }
  .portfolio_list_image {
    width: 100%;
  }
  .image-container img {
    margin: 0;
    width: 100%;
  }
  .portfolio_button_list {
    flex-wrap: wrap;
    justify-content: start;
  }
  .portfolio_button_list li {
    margin: 0;
  }
  }



.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 80px;
    padding-right: 32px;
    padding-bottom: 32px;
    padding-left: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #fff;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
}
.menu-toggle{
    border: none;
    background-color: transparent;
}

.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.mobile-menu .link {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}